WMS.Web.Client/Service References/SFISEtlService/etl_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetServerTime">
        <s:complexType />
      </s:element>
      <s:element name="GetServerTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_Xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_XmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_Rv_XmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_RvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_RvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_TxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_Factory_No">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_Factory_NoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_Rv_Factory_NoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_TxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerTime" />
  </wsdl:message>
  <wsdl:message name="GetServerTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_XmlSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_Xml" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_XmlSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_XmlResponse" />
  </wsdl:message>
  <wsdl:message name="ETL_RvSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Rv" />
  </wsdl:message>
  <wsdl:message name="ETL_RvSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_RvResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_RvSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Rv" />
  </wsdl:message>
  <wsdl:message name="SFIS_RvSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_RvResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_TxSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Tx" />
  </wsdl:message>
  <wsdl:message name="SFIS_TxSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_TxResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_Factory_NoSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_Factory_No" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_Factory_NoSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_Factory_NoResponse" />
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Tx" />
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_TxResponse" />
  </wsdl:message>
  <wsdl:portType name="ETL_ServiceSoap">
    <wsdl:operation name="GetServerTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return Web Server Current Time</wsdl:documentation>
      <wsdl:input message="tns:GetServerTimeSoapIn" />
      <wsdl:output message="tns:GetServerTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFISWS method by factory no or factory area, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_Rv_XmlSoapIn" />
      <wsdl:output message="tns:SFIS_Rv_XmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call ETL method, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:ETL_RvSoapIn" />
      <wsdl:output message="tns:ETL_RvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFISWS method by factory no or factory area, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_RvSoapIn" />
      <wsdl:output message="tns:SFIS_RvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFISWS method in transaction by factory no or factory area, return OK or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_TxSoapIn" />
      <wsdl:output message="tns:SFIS_TxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Factory_No">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFISWS method by factory no, return records or error message. This method is obsolete, it has been replaced by SFIS_Rv.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_Rv_Factory_NoSoapIn" />
      <wsdl:output message="tns:SFIS_Rv_Factory_NoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call ETL Service method in transaction, return OK or error message.</wsdl:documentation>
      <wsdl:input message="tns:ETL_TxSoapIn" />
      <wsdl:output message="tns:ETL_TxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ETL_ServiceSoap" type="tns:ETL_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerTime">
      <soap:operation soapAction="http://tempuri.org/GetServerTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <soap:operation soapAction="http://tempuri.org/SFIS_Rv_Xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <soap:operation soapAction="http://tempuri.org/ETL_Rv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <soap:operation soapAction="http://tempuri.org/SFIS_Rv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <soap:operation soapAction="http://tempuri.org/SFIS_Tx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Factory_No">
      <soap:operation soapAction="http://tempuri.org/SFIS_Rv_Factory_No" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap:operation soapAction="http://tempuri.org/ETL_Tx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETL_ServiceSoap12" type="tns:ETL_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerTime">
      <soap12:operation soapAction="http://tempuri.org/GetServerTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Rv_Xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <soap12:operation soapAction="http://tempuri.org/ETL_Rv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Rv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Tx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Factory_No">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Rv_Factory_No" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap12:operation soapAction="http://tempuri.org/ETL_Tx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETL_Service">
    <wsdl:port name="ETL_ServiceSoap" binding="tns:ETL_ServiceSoap">
      <soap:address location="http://172.21.128.158/etl_service/etl_service.asmx" />
    </wsdl:port>
    <wsdl:port name="ETL_ServiceSoap12" binding="tns:ETL_ServiceSoap12">
      <soap12:address location="http://172.21.128.158/etl_service/etl_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>